<?xml version="1.0"?>
<launch>

 <node pkg="hg_fusion" type="Prefiltering" name="Prefiltering" output="screen"/>
 <node pkg="hg_fusion" type="Boxing" name="Boxing" output="screen"/>
 <node pkg="hg_fusion" type="vision_filter.py" name="vision_filter" output="screen"/>
 <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hg_fusion)/rviz/fusion.rviz" output="screen"/>

 

 
</launch>